*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
}

.maingrid{
    background-color:rgb(255, 255, 255);
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: top;
}

.rightcolumn{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 20vw;
    border-left: rgb(255, 255, 255) 1.5px solid;
    border-right: rgb(255, 255, 255) 1.5px solid;
    border-top: rgb(255, 255, 255) 3px solid;
    border-bottom: rgb(255, 255, 255) 3px solid;
    padding: 20px;
    padding-left: 30px;
    overflow: scroll;
}

.itemmin{
    transition-property: width;
    transition-duration: 1s;
    width: 0px;
}

.item{
    background-color: rgba(0, 0, 0, .6);
    transition-property: width height;
    transition-duration: 1s;
    width: 100px;
    height: 100%;
    border-left: rgb(255, 255, 255) 1.5px solid;
    border-right: rgb(255, 255, 255) 1.5px solid;
    border-top: rgb(255, 255, 255) 3px solid;
    border-bottom: rgb(255, 255, 255) 3px solid;
    text-orientation: sideways;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 10px;
    font-family: 'DM Mono', monospace;
    padding-bottom: 0px;
}



.itemselect{
    background-color: rgb(255, 255, 255);
    transition-property: width height;
    transition-duration: 1s;
    width: calc(100% - 600px);
    height: 100%;
    border-left: rgb(255, 255, 255) 1.5px solid;
    border-right: rgb(255, 255, 255) 1.5px solid;
    border-top: rgb(255, 255, 255) 3px solid;
    border-bottom: rgb(255, 255, 255) 3px solid;
    text-orientation: sideways;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 10px;
    font-family: 'DM Mono', monospace;
}

.header{
    font-family: 'DM Mono', monospace;
    font-size: 32px;
    color: rgb(0, 0, 0);
    line-height: 34px;
}

.slides{
    display: none;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.presentation{
    animation: fadeIn .7s;
     -webkit-animation: fadeIn .7s;
    -moz-animation: fadeIn .7s;
    -o-animation: fadeIn .7s;
    -ms-animation: fadeIn .7s;
    writing-mode:initial;
    text-orientation: upright;
    display: none;
    height: 100vh;
    padding-top: 40px;
    justify-content: center;
    align-items:center;
    text-align: left;
    width: 1200px;
    letter-spacing: 0px;
    flex-direction: column;
}

.description{
    padding-top: 20px;
    line-height: 20px;
    font-size: 14px;
    padding-right: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight:600;
    color: rgba(0,0,0,.9);

}

#homevideo{

  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero img{
    object-fit: cover;
    height: 100%;
}

.dillon{
    background-image: url("img/1.png");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.dillon{
    background-image: url("img/1.png");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.huanzhe{
    background-image: url("img/3.jpg");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.mandy{
    background-image: url("img/2.jpg");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.preeti{
    background-image: url("img/2.jpg");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.zach{
    background-image: url("img/4.jpg");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.vrinda{
    background-image: url("img/5.gif");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.chloe{
    background-image: url("img/6.gif");
    background-position: 15% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.louis{
    background-image: url("img/7.jpg");
    background-position: 15% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.preeti{
    background-image: url("img/8.png");
    background-position: 15% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.owen{
    background-image: url("img/9.jpeg");
    background-position: 15% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-blend-mode: multiply;
}

.name{
    color: rgb(235, 235, 235);
    font-size: 16px;
}

.hero{
    width: 100%;
    background-color: black;
}

