*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
}

.maingrid{
    background-color:rgb(255, 255, 255);
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: top;
}

.rightcolumn{
    background-color: white;
    height: 100vh;
    width: 20vw;
    border-left: black 1.5px solid;
    border-right: black 1.5px solid;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
    padding: 20px;
    padding-left: 30px;
}

.item{
    background-color: white;
    transition-property: flex-grow height;
    transition-duration: 1s;
    flex-grow: 1;
    height: 100%;
    border-left: black 1.5px solid;
    border-right: black 1.5px solid;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
    text-orientation: sideways;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 10px;
    font-family: 'DM Mono', monospace;
    padding-bottom: 0px;
}

.itemselect{
    background-color: rgb(251, 255, 0);
    transition-property: flex-grow height;
    transition-duration: 1s;
    flex-grow: 30;
    height: 100%;
    border-left: black 1.5px solid;
    border-right: black 1.5px solid;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
    text-orientation: sideways;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 10px;
    font-family: 'DM Mono', monospace;
}

.header{
    font-family: 'DM Mono', monospace;
    font-size: 32px;
    color: black
}

.slides{
    display: none;
}

.presentation{
    writing-mode:initial;
    text-orientation: upright;
    display: none;
    height: 100vh;
    padding-top: 40px;
    justify-content: center;
    align-items:center;
    text-align: left;
    width: 1200px;
    letter-spacing: 0px;
    flex-direction: column;
}

.description{
    padding-top: 20px;
    font-family: 'DM Mono', monospace;
    line-height: 26px;
    font-size: 18px;
    padding-right: 40px;
    font-family: 'DM Sans', sans-serif;

}